<div id="cardbox-practice-content" class="row">

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div id="cardbox-cardcontainer" class="col-xs-12 col-md-10 col-lg-8 col-xl-6" style="margin-bottom: 10px">
        <button id="cardbox-end-session" type="button" class="btn btn-secondary cardbox-end-session-btn">{{topic}} {{# str }} endpractice, cardbox {{/ str }}</button>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div class="hidden-xs hidden-md col-lg-2 col-xl-3"></div>
    <div id="cardbox-flashcard-container" class="col-xs-12 col-md-12 col-lg-8 col-xl-6">
        <div class="cardbox-flashcard-card cardbox-flashcard-card-enhanced">
            <div class="cardbox-flashcard-header">
                {{#deck}}
                    <div class="cardbox-deck-badge">
                        <img src={{deckimgurl}} alt="Deck {{deck}}" class="cardbox_card_deck_icon">
                        <span class="cardbox-deck-label">Deck {{deck}}</span>
                    </div>
                {{/deck}}
            </div>
            <div class="cardbox-flashcard-question-area">
                <div class="cardbox-flashcard-question">
                    {{#question}}
                        {{> mod_cardbox/cardside }}
                    {{/question}}
                </div>
                {{#contextquestionavailable}}
                    <div class="cardbox-flashcard-question-context">
                        <div class="cardbox-context-content">{{{contextquestion}}}</div>
                    </div>
                {{/contextquestionavailable}}
                
                <!-- Answer reveal area (hidden initially, shown after clicking option) -->
                <div id="cardbox-flashcard-reveal-area">
                    <!-- Correct answer with context in one box -->
                    <div id="cardbox-flashcard-correct-answer" class="cardbox-flashcard-correct-answer-box">
                        <div id="cardbox-correct-answer-text" class="cardbox-correct-answer-text"></div>
                        <div id="cardbox-answer-context-content" class="cardbox-explanation-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs hidden-md col-lg-2 col-xl-3"></div>

</div>

<div id="cardbox-practice-user-interaction" class="row">

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6">
        <div id="cardbox-flashcard-options" class="cardbox-flashcard-options-grid">
            {{#flashcardoptions}}
                <button class="cardbox-flashcard-option-btn" data-answer="{{answer}}" data-iscorrect="{{iscorrect}}" data-context="{{context}}">
                    {{answer}}
                </button>
            {{/flashcardoptions}}
        </div>
        
        <!-- Next button (hidden initially) -->
        <div id="cardbox-flashcard-next-container" class="cardbox-flashcard-next-container hidden">
            <button id="cardbox-flashcard-next-btn" type="button" class="btn btn-primary cardbox-flashcard-next-btn">
                {{# str }} continue, cardbox {{/ str }}
            </button>
        </div>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>
    <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6"> 
        <div style="float: right; margin-top: 15px">{{# str }} cardsleft, cardbox {{/ str }} {{cardsleft}}</div>
    </div>
    <div class="hidden-xs col-md-1 col-lg-2 col-xl-3"></div>

</div>
